<%- include("header") -%>

<h2> About the app</h2>
<p>Namaste users! </p>
<p> This List maker can be our go-to app for making all kinds of lists. Be it your ToDo List of the day, or a shopping list, or your book list, this project is here to serve you with different list pages! Once the task
  is done just click the checkbox and the item gets striked out.</p>
  
<%- include("footer") -%>
